.edu-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem 6rem 4rem;
  font-family: var(--primaryFont);
  background-color: rgb(23, 28, 40);
}

.edu-edu {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(224, 217, 217);
}

.edu-edu h1 {
  font-size: 2.5rem;
  line-height: 129.69%;
  letter-spacing: 0.03em;
  animation: 1s ease 0.2s 1 normal forwards running check;
  margin-bottom: 2rem;
  width: fit-content;
}
.edu-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

.edu-icon h3 {
  line-height: 184.69%;
  letter-spacing: 0.03em;
  margin-left: 1rem;
}

.my-education {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
}
.my-education h3 {
  line-height: 184.69%;
  letter-spacing: 0.03em;
}
.my-education p {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 184.69%;
  letter-spacing: 0.03em;
  font-family: var(--primaryFont);
  padding-left: 4.125rem;
  width: fit-content;
  opacity: 0.7;
}

.edu-edu :nth-child(2) :nth-child(5) {
  padding-left: 1rem;
  padding-top: 1rem;
}

.edu-border {
  margin-top: 1rem;
  border: 1px solid rgb(224, 217, 217);
}

.edu-img img {
  width: 90%;
  margin-left: 4rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
  .edu-section {
    padding: 2rem 1.25rem 5rem 1.25rem;
  }
  .edu-img {
    display: none;
  }
  .edu-icon img {
    /* width: 10% !important; */
    display: none;
  }

  .edu-icon h3 {
    margin-left: 0;
  }

  .edu-edu {
    width: 100%;
  }
  .edu-edu h1 {
    font-size: 1.5rem;
    line-height: 129.69%;
    letter-spacing: 0.03em;
  }
  .edu-edu h3 {
    font-size: 0.95rem;
  }
  .my-education p {
    font-size: 0.95rem;
    padding-left: 0;
  }
  .edu-edu :nth-child(2) :nth-child(5) {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 400px) {
}
