.backToTop {
  position: fixed;
  right: 10px;
  bottom: 60px;
  height: 30px;
  font-size: 3rem;

  z-index: 999;
}
.backbutton {
  background-color: rgb(23, 28, 40);
  color: rgb(224, 217, 217);
}
.backToTop button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .backToTop {
    right: -10px;
    bottom: 50px;
    font-size: 2.75rem;
  }
}
